// color palette - these colors will be the color swatches of the Colors section

$color-1: #bb516c; // lotus pink - Action color
$color-2: #ffcb0c; // sunflower yellow
$color-3: #251183; // dark blue
$color-4: #09ac6a; // leaf green
$color-5: #8b4513; // dirt brown
$color-6: #87ceeb; // sky blue

// additional colors

$success: #56b859; // green
$alert: #f00; // red