@keyframes grow {
    0% {
        top: 200px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 200px;
    }
}

@keyframes let-there-be-light {
    @include light($blue, white, $blue-light, $blue-dark);
}

@keyframes grass {
    @include light($green, $green-light, $green-light, $green-dark);
}

@keyframes dirt {
    from { background: $tan; color: white; }
    to { background: $tan-light; color: $brown-dark; }
}

@keyframes pinky {
    from { background: $raspberry; color: white; }
    to { background: $pink-light; color: $raspberry-dark; }
}

@keyframes heading-font {
    from { color: transparent; }
    to { color: white; }
}

@keyframes blue-font {
    from { color: transparent; }
    to { color: $blue-dark; }
}

@keyframes change-links {
    from { color: $blue; }
    to { color: $pink-light; }
}

@keyframes change-links2 {
    from { color: $raspberry-dark; }
    to { color: $pink-light; }
}