*{
    padding: 0 0.2rem 0 0.2rem;
}
#css-zen-garden {
    max-width: 100%;
}

/*first grid*/	
.page-wrapper {
	display: grid;
	grid-template-columns: $grid-12; 
}

.preamble, .participation, .requirements, .explanation, .benefits, .main, .intro, .sidebar, footer, .wrapper {
	grid-column: 1/13;
}

/*third grid*/	
.main {
	display: grid;
	grid-template-columns: $grid-12;
	grid-template-rows: repeat(5, auto);
	margin-top: 1rem;
}

/*fifth grid for section below the sidebar class*/
.wrapper {
	display:grid;
	grid-template-columns: 20% 20% 5% 20% 20%;
	grid-template-rows: 100px 100px 20px 100px 100px;
	margin-left: 10%;
	margin-top: -140px;	
}

.design-selection {
	grid-area: 1/1/6/4;
}

.zen-resources {
	grid-area: 3/4/6/6;	
}