 // grid areas

  footer {
    grid-area: "footer";
    //margin-top: -120px;
    font-size: 10px;
  }

  .summary {
    grid-area: "summary"; 
  }
  
  .preamble {
    grid-area: "preamble";
    display: grid;
    grid-template-columns: 1fr; 
  }
  
  .explanation {
    grid-area: "explanation"; 
  }
  
  .participation {
    grid-area: "participation"; 
  }
    
  .requirements {
    grid-area: "requirements"; 
  }
    
  .benefits {
    grid-area: "benefits"; 
  }

.zen-resources { grid-area: resources; }

.design-archives { grid-area: archives; }

.extra4 {
grid-area: "cloud1";
background-image: url("./svg/greyCloud.svg");
background-size: contain; 
}

.extra4::before {
content: "";
}

.extra5 {
grid-area: "cloud2"; 
}

.extra6 {
grid-area: "cloud3"; 
}


// grids  

.page-wrapper {
grid-area: "page-wrapper";
display: grid;
grid-template-columns: 1fr;
grid-template-areas: 
"intro" 
"main" 
"sidebar" 
"footer"; 
}

.intro {
grid-area: "intro";
display: grid;
grid-template-columns: 1fr;
grid-template-areas:
"summary" 
"preamble"
"header"; 
}

header {
grid-area: "header";
grid-template-columns: 1.2fr 1fr 1.2fr;
grid-template-areas:
"cloud1"
"cloud2"
"cloud3" ;
}

.main {
//margin-top: -120px;
grid-area: "main";
grid-template-columns: 1fr;
grid-template-areas:
"explanation"
"participation"
"benefits"
"requirements"; 
}
  
.wrapper {
  grid-area: "sidebar";
  grid-template-columns: 1fr;
  grid-template-areas:
  "selection"
  "resources" 
  "archives" ;
}

.design-selection {
  font-size: 15px;
  //margin-top: -120px;
  grid-area: "selection"; 
}
