@media only screen and (min-width: 38rem) {
    .intro {
        
        @include sun(100px, 300px);
        
        header {
            padding-top: 7.5rem;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            padding-bottom: 1rem;

            h1 {
                font-size: 2rem;
            }
            
            h2 {
                font-size: 1.5rem;
            }
        }
    }

    @include sun(80px, 250px);

    .page-wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }

    .wrapper {
        margin: 0;
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "selection resources" 
        "selection archives" ;

        .design-selection {
            grid-column: 1/7;
            grid-row: 1/3;
            border-width: 40px 40px 0 0;
            padding: 1rem;
        }

        .design-archives {
            grid-column: 7/13;
            grid-row: 1/2;
            border-width: 40px 0 0 0;
        }

        .zen-resources {
            grid-column: 7/13;
            grid-row: 2/3;
            border-width: 0 0 0 0;
        }
    }

    //Footer
    footer {
        bottom:-450px;
    }
    h3 {
        display: flex;
        align-items: center;
    }

    h3:before {
        content: "";
        width: 50px;
        height: 50px;
        display: inline-block;
        position: relative;
        top: 0px;
        left: 0px;
        background-size: contain;
        margin-right: 1rem;
    }

    //change the flower
    //#1
    .preamble h3:before {
        background-image: url("./svg/blueYellow1.svg");
    }

    //#2
    .explanation h3:before {
        background-image: url("./svg/forgetMeKnot1.svg");
    }

    //#3
    .participation h3:before {
        background-image: url("./svg/lotus1.svg");
    }

    //#4
    .benefits h3:before {
        background-image: url("./svg/pansy1.svg");
    }

    //#5
    .requirements h3:before {
        background-image: url("./svg/pby1.svg");
    }

    .design-selection h3:before {
        background-image: url("./svg/pansy1.svg");
    }

    .design-archives h3:before {
        background-image: url("./svg/forgetMeKnot1.svg");
    }

    .zen-resources h3:before {
        background-image: url("./svg/lotus1.svg");
    }

    footer a::before {
        content: "";
        width: 50px;
        height: 50px;
        position: relative;
        display: inline-block;
        top: 0px;
        left: 0px;
        background-image: url("svg/blueYellow1.svg");
        background-size: contain;
    }

    footer a {
        display: flex;
        align-items: center;
    }
  
    #design-selection {
      margin-top: -120px; 
    }
    
    #design-archives {
      margin-top: -120px; 
    }
}
