@mixin template ($widthValue, $heightValue) {
    content: '';
    position: absolute;
    width: $widthValue; 
    height: $heightValue; 
    left: $leftv;
    top: $topv;
    transform-origin: bottom center;
    background: #000;
    border-radius: 100% 100%;
    background: $colorb;
    z-index: -1;
    transition: transform 3s ease-in-out;  
  }

  $a:-90;

  @mixin sun($widthValue, $heightValue) {

    @for $i from 1 to 4 {
      .extra#{$i}, .extra#{$i}::before, .extra#{$i}::after
      {
          @include template($widthValue,$heightValue);
      }

      .extra#{$i} {
          transform: translate(-$leftv, -$topv) rotate(#{$a}deg);
      }
      
      .extra#{$i}::before {
          transform: translate(-$leftv, -$topv) rotate(22.5deg);
      }

      .extra#{$i}::after {
          transform: translate(-$leftv, -$topv) rotate(45deg);
      }

      $a: $a + 67.5;    
  }
}