@mixin template ($widthValue, $heightValue) {
    content: '';
    position: absolute;
    width: $widthValue; 
    height: $heightValue; 
    left: $leftv;
    top: $topv;
    transform-origin: bottom center;
    -webkit-transform-origin: bottom center;
    //background: #000;
    border-radius: 100% 100%;
    background: $colorb;
    z-index: -1;
    transition: transform 3s ease-in-out;
    -webkit-transition: transform 3s ease-in-out;  
  }

 

@mixin sun($widthValue, $heightValue) {
    @for $i from 1 to 4 {
        .extra#{$i}, .extra#{$i}::before, .extra#{$i}::after{
            @include template($widthValue,$heightValue);
        }

        .extra#{$i}{
            -webkit-transform: translate(-$leftv, -$topv) rotate(#{$a}deg);
        }

        .extra#{$i}::before{
            -webkit-transform: translate(-$leftv, -$topv) rotate(22.5deg);
        }

        .extra#{$i}::after{
            -webkit-transform: translate(-$leftv, -$topv) rotate(45deg);
        }

        $a: $a + 67.5;
    }
} 

@mixin cloud {
    //content: '';
    position: absolute;
    background-image: url("./svg/greyCloud.svg");
    background-size: 100px, 100px;
    background-position: top left, 0 0;
    background-repeat: no-repeat, repeat;
    width: 100px;
    height: 200px;
    z-index: 100;
    -webkit-transition: transform 1s linear;
  }