@mixin template ($widthValue, $heightValue) {
    content: '';
    position: absolute;
    width: $widthValue; 
    height: $heightValue; 
    left: $leftv;
    top: $topv;
    transform-origin: bottom center;
    //background: #000;
    border-radius: 100% 100%;
    background: $colorb;
    z-index: -1;
    transition: transform 3s ease-in-out;
    -webkit-transition: -webkit-transform 3s ease-in-out;
    -moz-transition: -moz-transform 3s ease-in-out;
    -ms-transition: -ms-transform 3s ease-in-out;  
  }

  $a:-90;

  @mixin sun($widthValue, $heightValue) {

    @for $i from 1 to 4 {
      .extra#{$i}, .extra#{$i}::before, .extra#{$i}::after
      {
          @include template($widthValue, $heightValue);
      }

      .extra#{$i} {
          transform: translate(-$leftv, -$topv) rotate(#{$a}deg);
      }
      
      .extra#{$i}::before {
          transform: translate(-$leftv, -$topv) rotate(22.5deg);
      }

      .extra#{$i}::after {
          transform: translate(-$leftv, -$topv) rotate(45deg);
      }

      $a: $a + 67.5;    
  }
}


/*  // prefixes
-webkit-animation: 
-moz-animation: 
-ms-animation: 
*/

@mixin light($background-dark, $text-dark, $background-light, $text-light) {
    // make dark sky turn skyblue, works in tandem with sunrise transition of Lotus sun
    from { background: $background-dark; color: $text-dark;}
    to { background: $background-light; color: $text-light; }
}

@mixin animate($animation-name) {    
    animation: $animation-name 3s forwards linear;
    -webkit-animation: $animation-name 3s forwards linear;
    -moz-animation: $animation-name 3s forwards linear;
    -ms-animation: $animation-name 3s forwards linear;
}

@mixin transitions($transition-name) {    
    transition: $transition-name 3s forwards linear;
    -webkit-transition: $transition-name 3s forwards linear;
    -moz-transition: $transition-name 3s forwards linear;
    -ms-transition: $transition-name 3s forwards linear;
}

@mixin transformation($transformation)  {    
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
}