//the sun
@include sun(40px,130px);
//page wrapper
body { 
    background-color: #C3E4D7;
    animation: let-there-be-light 3s forwards linear;
}
a {
    color: $blue;
    text-decoration: none;
    font-family: $font-text;
}
.page-wrapper{
    
    display: block;
}
//section intro
.intro{
    display: block;
    header{
        padding-top: 3.5rem;
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: 1.2fr 1fr 1.2fr;
        h1, h2{
            text-align: center;
        }
        h1{
            font-size: 1.6rem;
            grid-column: 2/3;
        }
        h2{
            color: $pink;
            font-size: 1.2rem;
            grid-column: 1/4;
        }
        
    }
    .summary{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
/*borders of Path*/
.preamble,.participation, .requirements  {
	background: $tan;	
	border-style: solid;
	border-color: $grey;
    border-width: 40px 40px 0 0;
    padding: 1rem;
}
.explanation, .benefits{
    background: $green;	
	border-style: solid;
	border-color: $grey;
    border-width: 40px  0 0 40px;
    padding: 1rem;
}

//main
.main{
    display: block;
}
//sidebar
.wrapper{
    display: block;
    margin-top: -120px;
    .design-selection,.zen-resources{
        background: $green;	
        border-style: solid;
        border-color: $grey;
        border-width: 40px  0 0 40px;
        padding: 1rem;
    }
    .design-archives{
        background: $tan;	
	    border-style: solid;
        border-color: $grey;
        border-width: 40px  40px 0 0;
        padding: 1rem;
    }
}

/*styling for the footer*/
footer{
	max-width: 100%;
	height: 80px;
	background: rgb(0,204,0,.2);/*green*/
	position: relative;
	bottom:-740px;
	display: flex;
	align-items: center;
	border-style: solid;
	border-top-color: $grey;
	border-width: 40px 0 0 0;
	background-color: #bb516c;
}
footer a{
	padding: 0.2rem;
    color: white;
    flex:1;
    text-align: center;
}
