// VARIABLES
$grid-12:repeat(12,1fr);
$font-text: "Poppins", Georgia, sans-serif;
$font-alt: "Roboto Slab", serif;
$font-header: "Lemonada", cursive;


// "Lotus" sun
$colorb: linear-gradient(to bottom, rgba(134, 160, 255, .2), rgba(196, 130, 235, 0.6), rgba(172, 9, 75, .6), rgba(255, 203, 12, .6), rgba(255, 255, 0, .6));
$leftv:50%;
$topv:100vh;

// Colors - Dark mode
$tan: #8b4513;
$brown: #532c10;
$green: #09ac6a;
$blue: #251182;
$grey: #808080;/*color of path*/
$pink: #bb516c;
$cranberry: #ac094b;

// Colors - Garden of Light mode
$brown-light: mix($brown, white, 50%);
$green-light: mix($green, white, 50%);
$green-comp: complement($green);
$green-comp-light: mix($green-comp, white, 30%);
$yellow: rgb(255, 203, 12);
$yellow-light: mix($yellow, white, 20%);
$blue-light: #86a0ff; // skyblue: mix(complement($yellow), white, 50%);
$pink-light: mix($pink, white, 25%);
$grey-light: mix($grey, white, 25%);
$tan-light: #EFD488; //tan
