// VARIABLES
$grid-12:repeat(12,1fr);
$font-main: "Poppins", "Georgia", sans-serif;


// COLORS
$brown: #532c10;
$brown-light: mix($brown, white, 25%);

$green: #09ac6a;
$green-light: mix($green, white, 25%);
$green-comp: complement($green);
$green-comp-light: mix($green-comp, white, 50%);

$yellow: #ffcb0c;
$yellow-light: mix($yellow, white, 20%);

$blue: #251182;
$blue-light: complement($yellow);

$pink: #bb516c;
$pink-light: mix($pink, white, 25%);

$grey: #889ba9;
$grey-light: mix($grey, white, 25%);
