@import url(https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono:500);
.chip {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #904d01;
}
.chipspan:after {
  content: "#904d01";
  font-size: 42px;
  color: white;
}
.chip:nth-of-type(2) {
  background: #fe9c2c;
}
.chip:nth-of-type(3) {
  background: black;
}
.chip:nth-of-type(4) {
  background: #914d00;
}
.chip:nth-of-type(5) {
  background: #2b1700;
}
.chip:nth-of-type(6) {
  background: #decab3;
}

.analogous .chip {
  background: #8c9001;
}
.analogous .chip:nth-of-type(2) {
  background: #900601;
}
.analogous .chip:nth-of-type(3) {
  background: #900601;
}
.analogous .chip:nth-of-type(4) {
  background: #449100;
}
.analogous .chip:nth-of-type(5) {
  background: #f70800;
}

.complementary .chip {
  background: #014490;
}
.complementary .chip:nth-of-type(2) {
  background: #2c8efe;
}
.complementary .chip:nth-of-type(3) {
  background: #00142b;
}
.complementary .chip:nth-of-type(4) {
  background: #914d00;
}
.complementary .chip:nth-of-type(5) {
  background: #00142b;
}
.complementary .chip:nth-of-type(6) {
  background: #b3c7de;
}

html {
  background-color: #b0bec5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.container {
  padding: 1em;
}

.material-color-picker {
  display: flex;
  width: 32em;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #78909c;
  border-radius: 0.5em;
  box-shadow: 0 1em 8em rgba(0, 0, 0, 0.35);
}
.material-color-picker__left-panel {
  z-index: 1;
}
.material-color-picker__right-panel {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.color-selector {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-right: 0.25em solid #E0E0E0;
}
.color-selector input[type=radio] {
  display: none;
}
.color-selector label {
  position: relative;
  display: inline-block;
  padding: 0.5em 1.5em;
  cursor: pointer;
}
.color-selector label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding: 0.75em;
  background-color: currentColor;
  border-radius: 50%;
}
.color-selector label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  border: 0.25em solid;
  border-radius: 50%;
  transition: padding 250ms;
}
.color-selector input[type=radio]:checked + label:after {
  padding: 1em;
}

.color-palette-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}
.color-palette-wrapper.js-active {
  transform: translateX(0);
}

.color-palette-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1em;
  font-weight: 400;
  color: #757575;
}

.color-palette {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.color-palette__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0.25em 0;
  padding: 0 1em;
  border-radius: 0.25em;
  font-family: "Roboto Mono", monospace;
  transition: transform 250ms;
  cursor: pointer;
}
.color-palette__item:hover {
  transform: scale(1.05);
}

.copied-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 250ms;
}
.copied-indicator.js-copied {
  transform: translate(-50%, -50%);
  opacity: 0.75;
}

/*

@function set-color-theme(
$primary,
$secondary: darken($primary, 10%),
$tertiary: lighten($primary, 10%)
) {
// Do something
}
$color-theme: set-color-theme(hotpink, $tertiary: pink);



$base-color: red;

@debug lightness($base-color);
// 40%

@debug saturation($base-color);
// 50%;


adjust-color($base-color, $hue: 120deg, $saturation: 30, $lightness: 10)

*/

/*# sourceMappingURL=color-palettes.css.map */
