html {
  line-height: 0.25rem;
}

div {
  line-height: 1rem;
}

h1 {
  padding: 1rem;
}

p {
  padding: 0.4rem;
}

.swatch {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #BB516C;
}
.swatch:before {
  content: #BB516C;
}

.swatch:nth-of-type(2) {
  background: #FFCB0C;
}

.swatch:nth-of-type(3) {
  background: #251182;
}

.swatch:nth-of-type(4) {
  background: #09AC6A;
}

.swatch:nth-of-type(5) {
  background: #8B4513;
}

.swatch:nth-of-type(6) {
  background: #09AC6A;
}

.swatch:nth-of-type(7) {
  background: #7c9150;
}

.swatch:nth-of-type(8) {
  background: #ac094b;
}

.swatch:nth-of-type(9) {
  background: #1fd145;
}

.lighter1 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #dda8b6;
}

.lighter1:nth-of-type(2) {
  background: #ffe586;
}

.lighter1:nth-of-type(3) {
  background: #9288c1;
}

.lighter1:nth-of-type(4) {
  background: #84d6b5;
}

.lighter1:nth-of-type(5) {
  background: #c5a289;
}

.lighter1:nth-of-type(6) {
  background: #84d6b5;
}

.lighter1:nth-of-type(7) {
  background: #bec8a8;
}

.lighter1:nth-of-type(8) {
  background: #d684a5;
}

.lighter1:nth-of-type(9) {
  background: #8fe8a2;
}

.lighter2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #eed4da;
}

.lighter2:nth-of-type(2) {
  background: #fff2c2;
}

.lighter2:nth-of-type(3) {
  background: #c9c4e0;
}

.lighter2:nth-of-type(4) {
  background: #c2eada;
}

.lighter2:nth-of-type(5) {
  background: #e2d1c4;
}

.lighter2:nth-of-type(6) {
  background: #c2eada;
}

.lighter2:nth-of-type(7) {
  background: #dee4d3;
}

.lighter2:nth-of-type(8) {
  background: #eac2d2;
}

.lighter2:nth-of-type(9) {
  background: #c7f4d1;
}

.comp1 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #51bba0;
}

.comp1:nth-of-type(2) {
  background: #0c40ff;
}

.comp1:nth-of-type(3) {
  background: #6e8211;
}

.comp1:nth-of-type(4) {
  background: #ac094b;
}

.comp1:nth-of-type(5) {
  background: #13598b;
}

.comp1:nth-of-type(6) {
  background: #ac094b;
}

.comp1:nth-of-type(7) {
  background: #655091;
}

.comp1:nth-of-type(8) {
  background: #09ac6a;
}

.comp1:nth-of-type(9) {
  background: #d11fab;
}

.comp2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #a8ddd0;
}

.comp2:nth-of-type(2) {
  background: #86a0ff;
}

.comp2:nth-of-type(3) {
  background: #b7c188;
}

.comp2:nth-of-type(4) {
  background: #d684a5;
}

.comp2:nth-of-type(5) {
  background: #89acc5;
}

.comp2:nth-of-type(6) {
  background: #d684a5;
}

.comp2:nth-of-type(7) {
  background: #b2a8c8;
}

.comp2:nth-of-type(8) {
  background: #84d6b5;
}

.comp2:nth-of-type(9) {
  background: #e88fd5;
}

.comp3 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #d4eee7;
}

.comp3:nth-of-type(2) {
  background: #c2cfff;
}

.comp3:nth-of-type(3) {
  background: #dbe0c4;
}

.comp3:nth-of-type(4) {
  background: #eac2d2;
}

.comp3:nth-of-type(5) {
  background: #c4d6e2;
}

.comp3:nth-of-type(6) {
  background: #eac2d2;
}

.comp3:nth-of-type(7) {
  background: #d9d3e4;
}

.comp3:nth-of-type(8) {
  background: #c2eada;
}

.comp3:nth-of-type(9) {
  background: #f4c7ea;
}

.analogousl {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #bb6b51;
}

.analogousl:nth-of-type(2) {
  background: #baff0c;
}

.analogousl:nth-of-type(3) {
  background: #5e1182;
}

.analogousl:nth-of-type(4) {
  background: #099dac;
}

.analogousl:nth-of-type(5) {
  background: #8b8113;
}

.analogousl:nth-of-type(6) {
  background: #099dac;
}

.analogousl:nth-of-type(7) {
  background: #5c9150;
}

.analogousl:nth-of-type(8) {
  background: #ac1909;
}

.analogousl:nth-of-type(9) {
  background: #1fd19e;
}

.analogousr {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #bb51a1;
}

.analogousr:nth-of-type(2) {
  background: #ff520c;
}

.analogousr:nth-of-type(3) {
  background: #113682;
}

.analogousr:nth-of-type(4) {
  background: #09ac19;
}

.analogousr:nth-of-type(5) {
  background: #8b131d;
}

.analogousr:nth-of-type(6) {
  background: #09ac19;
}

.analogousr:nth-of-type(7) {
  background: #918650;
}

.analogousr:nth-of-type(8) {
  background: #ac099d;
}

.analogousr:nth-of-type(9) {
  background: #52d11f;
}

.analogousl2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #eedad4;
}

.analogousl2:nth-of-type(2) {
  background: #eeffc2;
}

.analogousl2:nth-of-type(3) {
  background: #d7c4e0;
}

.analogousl2:nth-of-type(4) {
  background: #c2e7ea;
}

.analogousl2:nth-of-type(5) {
  background: #e2e0c4;
}

.analogousl2:nth-of-type(6) {
  background: #c2e7ea;
}

.analogousl2:nth-of-type(7) {
  background: #d6e4d3;
}

.analogousl2:nth-of-type(8) {
  background: #eac6c2;
}

.analogousl2:nth-of-type(9) {
  background: #c7f4e7;
}

.analogousr2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #eed4e8;
}

.analogousr2:nth-of-type(2) {
  background: #ffd4c2;
}

.analogousr2:nth-of-type(3) {
  background: #c4cde0;
}

.analogousr2:nth-of-type(4) {
  background: #c2eac6;
}

.analogousr2:nth-of-type(5) {
  background: #e2c4c7;
}

.analogousr2:nth-of-type(6) {
  background: #c2eac6;
}

.analogousr2:nth-of-type(7) {
  background: #e4e1d3;
}

.analogousr2:nth-of-type(8) {
  background: #eac2e7;
}

.analogousr2:nth-of-type(9) {
  background: #d4f4c7;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  grid-gap: 1rem;
}

.grid1 {
  display: grid;
}

.grid2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*# sourceMappingURL=icon-colors.css.map */

/*# sourceMappingURL=colors.css.map */
