// VARIABES

// COLORS
$brown: #8B4513;
$brown-light: mix($brown, white, 25%);

$green: #09AC6A;
$green-light: mix($green, white, 25%);

$blue: #251182;
$blue-light: mix($blue, white, 25%);

$yellow: #FFCB0C;
$yellow-light: mix($yellow, white, 20%);

$pink: #BB516C;
$pink-light: mix($pink, white, 25%);

@mixin reverse-colors {
    
}

body {
    display: grid;
    padding: 1rem;
}

.page-wrapper, .preamble {  
    grid-template-columns: auto;
    background:$brown;
    color:$brown-light;
    &:hover {
        background:$brown-light;
        color:$brown;
    }
}


.intro {
}

.summary {
    border-radius: 50%;
    height: 12rem;
    width: 18rem;
    background-color: red;
    text-align: center;
    padding: 2.4em 1.4em .6em 1.4em;
    //$size: 400px;
    // width: $size;
    // height: $size;
    // border-radius: $size / 2;
    // padding: 2rem;
    background: $brown;
    color: $brown;
    & p a {
        color: $brown;
        &:visited {
            color: $brown;
        }
    }
    &:hover {
        background: $green-light;
        color: $green;
        &a:visited {
            color: $green;
        }
    }
}

.preamble {
}

.explanation {    
    background:$blue;
    color:$blue-light;
    &:hover {
        background:$blue-light;
        color:$blue;
    }
}

.main {

}

.supporting {

}

.participation {

}

.benefits {

}

.requirements {

}

.sidebar {

}

.wrapper {

}

.design-selection {

}

.select {

}

.designer-name {

}

.design-name {

}

.design-archives {

}

.archives {

}

.next {

}

.viewall {

}

.zen-resources {

}

.view-css {

}

.css-resources {

}

.zen-faq {

}

.zen-submit {

}

.zen-translations {

}

.zen-validate-html {

}

.zen-validate-css {

}

.zen-license {

}

.zen-accessibility {

}

.zen-github {

}

.indicator {

}