.intro {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.intro header {
  grid-column: 1/7;
}
.intro .summary {
  grid-column: 1/7;
}
.intro .preamble {
  grid-column: 1/6;
}

.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.main .explanation {
  grid-column: 2/7;
}
.main .participation {
  grid-column: 1/6;
}
.main .benefits {
  grid-column: 2/7;
}
.main .requirements {
  grid-column: 1/6;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.wrapper .design-selection {
  grid-column: 2/7;
}
.wrapper .design-archives {
  grid-column: 1/6;
}
.wrapper .zen-resources {
  grid-column: 2/7;
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -2750px;
  left: 0;
  align-items: center;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Georgia", sans-serif;
  font-size: 55%;
  font-weight: 400;
}

body {
  background: #09ac6a;
  color: #c2eada;
}
body :hover {
  background-image: url("assets/grass.jpg");
  color: #09ac6a;
}

header {
  text-align: center;
  max-width: 100%;
  background-image: url("assets/sun.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: #532c10;
}
header:hover {
  color: #09ac6a;
}

p {
  max-width: 100%;
}

.page-wrapper {
  background: #09ac6a;
  color: #c2eada;
}
.page-wrapper h1, .page-wrapper h2 {
  color: #532c10;
}
.page-wrapper:hover {
  background: #c2eada;
  color: #c2eada;
}
.page-wrapper:hover a:visited, .page-wrapper:hover h1, .page-wrapper:hover h2 {
  color: #532c10;
}

.intro {
  max-width: 100%;
  text-align: center;
  padding: 2.4em 1.4em 0.6em 1.4em;
  color: #d4cac3;
}

.summary {
  background: #532c10;
  color: #532c10;
}
.summary p a {
  color: #bb516c;
}
.summary p a:visited {
  color: #09ac6a;
}
.summary:hover {
  background: #d4cac3;
  color: #d4cac3;
}
.summary:hover a:visited {
  color: #532c10;
}

.preamble {
  background: #532c10;
  color: #d4cac3;
}
.preamble p {
  border-radius: 50%;
  max-width: 18rem;
  text-align: center;
  padding: 2.4em 1.4em 0.6em 1.4em;
}
.preamble:hover {
  background: #d4cac3;
  color: #532c10;
}

.main {
  background: #532c10;
  color: #d4cac3;
}
.main:hover {
  background: #d4cac3;
  color: #532c10;
}

.explanation {
  background: #532c10;
  color: #d4cac3;
}
.explanation:hover {
  background: #d4cac3;
  color: #532c10;
}

.supporting {
  background: #404040;
}

.participation {
  background: yellow;
}

.benefits {
  background: #ffbc40;
}

.requirements {
  background: #c080c0;
}

.sidebar {
  background: #ff4040;
}

.wrapper {
  background: #a580c1;
}

.design-selection {
  background: #ffff80;
}

.select {
  background: #8080ff;
}

.designer-name {
  background: #80c080;
}

.design-name {
  background: #c080c0;
}

.design-archives {
  background: gray;
}

.archives {
  background: #ffd280;
}

.next {
  background: #80c080;
}

.viewall {
  background: #ff8080;
}

.zen-resources {
  background: #80c080;
}

.view-css {
  background: #ffb4da;
}

.css-resources {
  background: #ffff80;
}

/*# sourceMappingURL=style.css.map */
