/* Error: Undefined mixin.
 *    ,
 * 34 |             @include template($widthValue,$heightValue);
 *    |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   merged-code\boxes\style.scss 34:13  sun()
 *   merged-code\boxes\style.scss 77:5   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 34 \2502              @include template($widthValue,$heightValue);\d\a    \2502              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   merged-code\\boxes\\style.scss 34:13  sun()\a   merged-code\\boxes\\style.scss 77:5   root stylesheet";
}
