@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,900&family=Roboto+Slab:wght@400;500;600;700;900&display=swap');
$grid-12:repeat(12,1fr);

// "lotus" sun

$colorb: linear-gradient(to bottom,
 rgba(134, 160, 255, 0.8), #ac094bb3, 
  rgba(187, 81, 108, 0.6),
   rgba(255, 203, 12, .8), rgba(255, 255, 0, .9) 70%);

//$colorb: rgba(255, 203, 12, 0.4);
$leftv: 50%;
$topv: 100vh;

//Fonts
$font-text: "Poppins", Georgia, sans-serif;
$font-header: "Roboto Slab", serif;
$font-alt: "Lemonada", cursive;  

//Colors
// Colors - Dark mode
$tan: #EFD488;
$grey: #808080;
$pink: #bb516c;
$yellow: #ffcb0c;
$blue: #251182;
$green: rgb(0,204,0,.2);
$brown: #532c10;

$raspberry: #ac094b;

// Colors - Garden of Light mode
$tan-light: #EFD488;
$brown-light: mix($brown, white, 25%);
$green-light: mix($green, white, 25%);
$green-comp: complement($green);
$green-comp-light: mix($green-comp, white, 30%);
$yellow: rgb(255, 203, 12);
$yellow-light: mix($yellow, white, 20%);
$blue-light: mix(complement($yellow), white, 50%);
$pink-light: mix($pink, white, 25%);
$grey-light: mix($grey, white, 25%);