@keyframes grow {
    0% {
        top: 200px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 200px;
    }
}

  @keyframes let-there-be-light {
      // start with no sun, make dark sky turn skyblue
      0% { background: $blue; }
      100% { background: $blue-light; }
  }

  @keyframes grass {
      from { background: $green; }
      to { background: $green-light; }
  }