// GLOBAL MIXINS

@mixin clearfix() {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin breakpoint($break) {
    @if $break == large {
    @media (min-width: $break-large) { @content; }
    }
    @else if $break == medium {
    @media (min-width: $break-medium) { @content; }
    }
    @else if $break == small {
    @media (max-width: $break-small) { @content; }
    } @else {
    @media ($break) { @content; }
    }
}      