@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
}

a {color: #6495ED; text-decoration: none}
a:hover {text-decoration: underline}
a:active {color: #DEB887;}

h1, h2 {font-family: 'Lora', Arial, Helvetica, sans-serif}
h1 {font-size: 1.5em}

header {
    background: #6495ED;
    color: #FAEBD7;
    text-align: right;
    padding: 2em;
    line-height: 2em;
}

header a {color: #FAEBD7; }
header a:hover {color: white; text-decoration: underline}
header a:active {color: #DEB887; }

nav ul {
    list-style-type:none;
}

main {
    background: #FAEBD7;
    padding: 2em;
}

article {
    background: white;
    padding: 2em;
    overflow: hidden;
    font-size: .8em;
    font-weight: bold;
}

article h2 a {color: black; text-decoration: none}
article h2 a:hover {color: #6495ED}
article h2 a:active {color: #DEB887; text-decoration: none}

.post-date {
    color: grey;
}

figure {
    margin-top: 2em;
    text-align: center;
}

.post-content figure img {
    width: 250px;
    height: 300px;
}

@media only screen and (min-width: 900px) {
    div {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    article {
        margin: 3em;
    }

    div article.post-content figure {
        margin-top: 5em;
    }

    div article.post-content figure img {
        width: 350px;
        height: 450px;
    }
}